* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    background: url("../img/fondo.png") no-repeat center center fixed;
    background-size: cover;

    position: relative;
}

/* fondo oscuro animado */
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background: url("../img/fondo.png") center center/cover no-repeat;

    z-index:-1;

    animation: zoomFondo 8s ease-in-out infinite alternate;
}

/* animación */
@keyframes zoomFondo{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.08);
    }
}

/* CONTENEDOR PRINCIPAL */
.hero{
    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:25px; /* ✔ ESPACIO ENTRE ELEMENTOS */
    padding: 20px;
}

/* TÍTULO */
.titulo{
    font-size:70px;
    color:white;
    text-shadow:0 0 20px black;

    margin-bottom: 10px;
}

/* VIDEO */
.video-container{
    display:flex;
    justify-content:center;
}

/* ✔ VIDEO RECTANGULAR */
.video-container video{
    width: 900px;        /* ancho */
    height: 500px;       /* alto → forma rectangular */

    max-width: 95%;

    object-fit: cover;   /* evita deformación */

    border-radius: 18px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}
.btn-volver{
    padding: 12px 25px;

    background: rgba(255, 255, 255, 0.25); /* blanco transparente */
    color: rgb(0, 0, 0);
    font-weight: 700; /* letras gruesas */
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 12px;

    border: 1px solid rgba(255, 255, 255, 0.4);

    backdrop-filter: blur(8px);

    transition: 0.3s;

    display: inline-block;
}

.btn-volver:hover{
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}